#about-us{
    padding: 70px 0 0 ;
    width: 700px;

    h2{
        margin-bottom: 30px;
        text-align: center;
    }

    p{
        margin: 15px 0;
        text-align: justify;
    }

    b{
        color: $main;
    }
}