#certificates {
  padding: 70px 0 0;

  h2 {
    text-align: center;
  }

  &-slider {
    margin: 50px 0;

    @media screen and (max-width: 500px) {
      margin: 20px 0;
    }

    .owl-stage {
      display: flex;
      align-items: center;
    }

    .owl-nav {
      position: absolute;
      top: calc(50% - 18px);
      width: 100%;

      .owl-prev {
        position: absolute;
        left: -30px;
      }
      .owl-next {
        position: absolute;
        right: -30px;
      }

      span {
        font-size: 36px;
        font-weight: bold;
      }
    }

    img {
      margin: 0 auto;
      max-height: 430px;
      width: auto;
    }
  }
}
