.charter {
  padding: 70px 0 0;

  h2 {
    text-align: center;
  }

  &__gallery {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    @media screen and (max-width: 500px) {
      margin: 20px 0;
    }

    img {
      margin: 0 auto;
      max-height: 300px;
      width: auto;
    }
  }
}
